{% extends "employee_templates/base.html"%}

{% block content %}
<p>we will show django form to implement crud operations</p>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>Mobile</td>
            <td>Position</td>
        </tr>
    </thead>
    <tbody>
        {% for employee in employee_list%}
            <tr>
                <td>{{employee.fullname}}</td>
                <td>{{employee.mobile}}</td>
                <td>{{employee.position}}</td>
                <td>
                    <a href="{% url 'employee_update' employee.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg">edit</i>
                    </a>
                    <form action="{%url 'employee_delete' employee.id %}" method="post">
                        {% csrf_token %}

                        <button type="submit" class="btn" labrl = delete>delete</button>
                    </form>
                </td>
            </tr>
        {% endfor%}
    </tbody>
</table>
{% endblock content%}